<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>LBAS</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" />
    <link href="../assets/css/style.min.css" rel="stylesheet" />
    <link href="../assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="../assets/css/theme/default.css" id="theme" rel="stylesheet" />

    <script src="../assets/plugins/pace/pace.min.js"></script>
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
    <div id="page-container" class="fade">
        <div id="home" class="content has-bg home">
            <div class="content-bg">
                <img src="../assets/img/LBAS.png" alt="Home" />
            </div>
            <div class="container home-content">
                <h1>Let's Build A Spaceship!</h1>
                <h3>Apprenez en vous amusant!</h3>
            </div>
        </div>
        <div id="service" class="content" data-scrollview="true">
            <div class="container">
                <h2 class="content-title">Nos services</h2>
                <p class="content-desc">
                   Tout un tas de choses qui font que vous allez adorer "LBAS" !
                </p>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                            <div class="info">
                                <h4 class="title">Apprends le fonctionnement sur les différents sujets proposés</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                            <div class="info">
                                <h4 class="title">Hauts en couleurs, des puzzles magnifiques</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
                            <div class="info">
                                <h4 class="title">Possibilité d'exporter les résultats sous différents formats</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>
                            <div class="info">
                                <h4 class="title">Multiplatform: PC / Mac / Linux / IOS / Android et plus encore très prochainement !</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-shopping-cart"></i></div>
                            <div class="info">
                                <h4 class="title">Version d'essaie d'un mois gratuite!</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
                            <div class="info">
                                <h4 class="title">Des problèmes? N'hésitez pas à contacter notre équipe par mail ou par téléphone.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="client" class="content has-bg bg-green" data-scrollview="true">
            <div class="content-bg">
                <img src="../assets/img/LBAS.png" alt="Client" />
            </div>
            <div class="container" data-animation="true" data-animation-type="fadeInUp">
                <h2 class="content-title">Ce qu'ils en pensent</h2>
                <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                    <div class="carousel-inner text-center">
                        <div class="item active">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                Depuis que ma fille jous à "LBAS", les progès qu'elle a fait à l'école sont époustouflants! Je suis enchantée!
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Brigitte Lafon</span>, Maman de Lucie, 6 ans</div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                J'utilise LBAS comme complément pour l'enseignement dans ma classe de CP, les élèves adorent et c'est bien plus simple de les contenir la journée.
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Robert Blouk</span>, Professeur d'école</div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                Y en a pour tout les gouts! La nature, la mécanique, la science, et même l'histoire! Quel jeu fascinant!
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">Gérard Depardieu</span>, Utilisateur de LBAS</div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1" class=""></li>
                        <li data-target="#testimonials" data-slide-to="2" class=""></li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div id="work" class="content" data-scrollview="true">
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">Des thèmes variés!</h2>
                <div class="row row-space-10">
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-1.jpg" alt="Work 1" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">L'électronique</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-3.jpg" alt="Work 3" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Les arts orientaux</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-5.jpg" alt="Work 5" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">La gastronomie</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-7.jpg" alt="Work 7" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Le temps et ses effets</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-space-10">
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-2.jpg" alt="Work 2" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">La matière / Les minéraux</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-4.jpg" alt="Work 4" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Les arbres / Le bois</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-6.jpg" alt="Work 6" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">Les fleurs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../assets/img/work-8.jpg" alt="Work 8" /></a>
                            </div>
                            <div class="desc">
                                <span class="desc-title">La mécanique</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="../assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
 
    <script src="../assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="../assets/plugins/scrollMonitor/scrollMonitor.js"></script>
    <script src="../assets/js/apps.min.js"></script>
    
    <script>    
        $(document).ready(function() {
            App.init();
        });
    </script>
</body>
</html>
